<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div layout:fragment="content1">
  <div class="container mt-2">
     <div class="card-header">Liste d'absence</div>
     <div class="card-body">
         <form method="get" th:action="@{/liststudent}">
             <label>Entrer la date</label>
             <input type="date" name="d" th:value="${date}">
             <br>
             <br>
             <label>Heure de debut</label>
             <input type="time" name="t1" th:value="${t1}">
             <label style="margin-left: 15px">Heure de fin</label>
             <input type="time" name="t2" th:value="${t2}">

             <button type="submit" class="btn btn-primary">Chercher</button>
         </form>

     </div>
  </div>
 </div>
</body>
</html>