<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div layout:fragment="content1">
  <div class="container mt-2">
     <div class="card-header">Liste d'absence</div>
     <div class="card-body">
         <form method="get" th:action="@{/form}">
             <label>Entrer la date</label>
             <input type="date" name="d" th:value="${date}">
             <br>
             <br>
             <label>Heure de debut</label>
             <input type="time" name="t1" th:value="${t1}">
             <label style="margin-left: 15px">Heure de fin</label>
             <input type="time" name="t2" th:value="${t2}">
             <input type="hidden" name="aff" th:value="true">
             <button type="submit" class="btn btn-primary">Chercher</button>
         </form>

         <div th:if="${aff=='true'}"  >
             <div class="card card-body mt-1 mb-1 text-center">
                 <h4 th:text="${date1}" class="fw-bold"></h4> <hr>
                 <h5 th:text="${time}" class="fw-bold"></h5>
             </div>

             <div class="row">
                 <div class="col-md-6">
                     <table class="table">
                         <thead>
                         <tr>
                             <th>Nom</th>
                             <th>Prénom(s)</th>
                         </tr>
                         </thead>
                         <tbody>
                         <tr  th:each="p:${presentAndAbsents}" th:class="${p.getEtat().toString()=='ABSENT'}? 'bg-danger text-white':''">
                             <td th:text="${p.getLastname()}"></td>
                             <td th:text="${p.getFirstname()}"></td>
                             <td  th:text="${p.getEtat()}"></td>
                         </tr>

                         </tbody>

                     </table>
                 </div>
                 <div class="col-md-6">
                     <table class="table mb-5">
                         <thead>
                         <tr>
                             <th>Nom</th>
                             <th>Prénom(s)</th>
                             <th>Arrivée</th>
                         </tr>
                         </thead>
                         <tbody>
                         <tr  th:each="p:${presents}">
                             <td th:text="${p.getStudent().getLastname()}"></td>
                             <td th:text="${p.getStudent().getFirstname()}"></td>
                             <td  th:text="${p.getDate().toString()}"></td>
                         </tr>

                         </tbody>

                     </table>
                     <table class="table">
                         <thead>
                         <tr>
                             <th>Nom</th>
                             <th>Prénom(s)</th>
                         </tr>
                         </thead>
                         <tbody>
                         <tr  th:each="p:${presentAndAbsents}">
                             <td th:text="${p.getLastname()}"></td>
                             <td th:text="${p.getFirstname()}"></td>
                         </tr>

                         </tbody>

                     </table>
                 </div>
             </div>

         </div>
       <!--  <table class="table">
             <thead>
             <tr>
                 <th>ID</th>
                 <th>Nom</th>
                 <th>Date</th>
                 <th>Malade</th>
                 <th>Score</th>
             </tr>
             </thead>
             <tbody>
             <tr th:each="p:${listPatients}">
                 <td th:text="${p.id}"></td>
                 <td th:text="${p.nom}"></td>
                 <td th:text="${p.dateNaissance}"></td>
                 <td th:text="${p.malade}"></td>
                 <td th:text="${p.score}"></td>
                 <td sec:authorize="hasAuthority('ADMIN')">
                     <a onclick="return confirm('Etes vous sure?')" class="btn btn-danger" th:href="@{/admin/delete(id=${p.id}, keyword=${keyword}, page=${currentPage})}">
                         Delete
                     </a>
                 </td>
                 <td sec:authorize="hasAuthority('ADMIN')">
                     <a class="btn btn-success" th:href="@{/admin/editPatient(id=${p.id}, keyword=${keyword}, page=${currentPage})}">
                         Edit
                     </a>
                 </td>
             </tr>

             </tbody>
         </table>-->


         <!--<ul class="nav nav-pills">
         <li th:each="page,status:${pages}">
             <a th:class="${status.index==currentPage?'btn btn-primary ms-1':'btn btn-outline-primary ms-1'}"
                th:text="${status.index}"
             th:href="@{/user/index(page=${status.index}, keyword=${keyword})}"
             ></a>
         </li>
         </ul>-->

     </div>
  </div>
 </div>
</body>
</html>